@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&family=Mystery+Quest&display=swap');

/* ------ Global Style */
body {
    font-family: "Krub", sans-serif;
    text-align: center;
}


/* ------ Heading */
h1 {
    font-family: "Mystery Quest", system-ui;
    font-size: 3em;
}
#irregular0 {
    font-size: 1em;
}
#irregular1 {
    font-size: 1.2em;
    vertical-align: sub;
}
#irregular2 {
    font-size: 0.9em;
}
#irregular3 {
    font-size: 1.3em;
    vertical-align: text-bottom;
}
#irregular4 {
    font-size: 1.4em;
    vertical-align: middle;
}
#irregular5 {
    font-size: 0.8em;
    vertical-align: text-bottom;
}
#irregular6 {
    font-size: 1em;
}
#irregular7 {
    font-size: 1.1em;
    vertical-align: top;
}
#irregular8 {
    font-size: 1em;
}


/* ------ Configuration Area */
.parameters {
    border: 3px solid gray;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    padding: 10px 0;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}
.parameter {
    display: flex;
    justify-content: center;
}
.parameter label {
    flex: 0 0 50%;
    text-align: right;
    padding-right: 5px;
    font-size: 0.9em;
}
.parameter label[for="data-set"] {
    flex: 0.55 0 0%;
    text-align: left;
    padding-left: 5px;
    display: none;
}
.parameter legend {
    font-size: 0.9em;
}
.parameter fieldset label,
.parameter option {
    font-size: 0.75em;
}
.parameter select {
    margin-left: 0;
}
.parameter input {
    margin-left: 0;
}
label[for="answer-hide"],
#answer-hide {
    text-align: left;
    margin: auto;
}


/* ------ Trigger Question Area */
#question {
    font-size: 3em;
    margin-bottom: 30px;
}


/* ------ Answer Area*/
input {
    caret-color: grey;
}
#answer-box {
    text-align: center;
}
#answer-box::placeholder {
    text-align: left;
    font-size: 0.8em;
}
#answer-check {
    display: block;
    margin: 5px auto 0;
}
#answer-recent {
    font-size: 1.5em;
    min-height: 1lh;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: fit-content;
}


/* ------ Score Area */
.score-area {
    border: 3px solid gray;
    border-radius: 5px;
    max-width: 200px;
    margin: auto;
    padding: 10px 0;
    background-color: aqua;
}
.score {
    display: flex;
}
.score span:first-of-type {
    flex: 0 0 50%;
    text-align: right;
    padding-right: 5px;
}
.score span:last-of-type {
    margin-left: 0;
}
#correct,
#incorrect {
    font-weight: 700;
}


/* ------ Media Queries */
@media (max-height: 750px) {
    h1 {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    #question {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #answer-recent {
        margin: 5px auto;
    }
}